html {
    font-family: sans-serif;
    color: #40595a;
}

.navbar {
    border-bottom: 5px solid #40595a;
    background-color: #7faeb1;
    
}
.container-navbar {
    display: flex;
    height: 70px;
    max-width: 800px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.container-navbar ul li {
    display: inline;
    margin-right: 20px;
    font-weight: bold;
}
.container-navbar h1{
    margin-left: 20px;
    font-size: 2rem;
    font-weight: bold;
}
.container-navbar nav ul li a:link {
    text-decoration: none;
    color: #40595a;
}