html {
    font-family: sans-serif;
    color: #40595a;
}

.navbar {
    border-bottom: 5px solid #40595a;
    background-color: #7faeb1;
    
}
.container-navbar {
    display: flex;
    height: 70px;
    max-width: 800px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.container-navbar ul li {
    display: inline;
    margin-right: 20px;
    font-weight: bold;
}
.container-navbar h1{
    margin-left: 20px;
    font-size: 2rem;
    font-weight: bold;
}
.container-navbar nav ul li a:link {
    text-decoration: none;
    color: #40595a;
}

/* main */ 

.main {
    max-width: 600px;
    margin: 150px auto;
    align-content: space-between;
}

/* première parttie du mainnnnn avec les 3 images */
.first-part {
    display: flex;
    height: 200px;
    justify-content: space-between;
}
.pic-1 {
    width: 170px;
    background-color: #7faeb1;
}
#top-left {
    border: 1px solid black;
    height: 67px;
    width: 56px;
}
#bottom-right {
    border: 1px solid yellow;
    height: 133px;
    width: 114px;
}
.pic-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    background-color: #7faeb1;
}
.dark-square {
    height: 120px;
    width: 120px;
    background-color: #40595a;
}
.pic-3 {
    width: 170px;
    background-color:#a4dde0;
}

/* deuxième partie avec le carré d'abords puis le texte */
.second-part {
    display: flex;
    justify-content: space-between;
    height: 200px;
    margin: 45px 0 45px 0;
}
.second-part p {
    margin-left: 30px;
    max-width: 400px;
}
.square {
    width: 170px;
    background-color: #7faeb1;
}

/* troisième partie avec le texte puis le carré */
.third-part {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 200px;
}

.third-part p {
    margin-right: 30px;
    max-width: 400px;
}

/* footer */ 

.footer {
    display: flex;
    justify-content: center;
    height: 150px;
    border-top: 3px  solid #40595a;
    background-color: #7faeb1;
}

.foot-nav {
    margin-top: 40px;
}
.foot-nav ul li {
    display: inline;
}
.foot-nav ul li a:link {
    text-decoration: none;
    color: white;
}

.legal {
    color: white;
}