html {
    font-family: sans-serif;
    color: #40595a;
}

.navbar {
    border-bottom: 5px solid #40595a;
    background-color: #7faeb1;
    
}
.container-navbar {
    display: flex;
    height: 70px;
    max-width: 800px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.container-navbar ul li {
    display: inline;
    margin-right: 20px;
    font-weight: bold;
}
.container-navbar h1{
    margin-left: 20px;
    font-size: 2rem;
    font-weight: bold;
}
.container-navbar nav ul li a:link {
    text-decoration: none;
    color: #40595a;
}

/* main */ 

.main {
    border: 2px solid red;
    max-width: 700px;
    margin: 150px auto;
    align-content: space-between;
}

/* première parttie du mainnnnn avec les 3 images */
.first-part {
    display: flex;
    border: 2px solid purple;
    height: 200px;
    justify-content: space-between;
}
.pic-1 {
    border: 1px solid black;
    width: 170px;
    background-color: #7faeb1;
}
.pic-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid pink;
    width: 170px;
    background-color: #7faeb1;
}
.dark-square {
    height: 120px;
    width: 120px;
    background-color: #40595a;
}
.pic-3 {
    border: 1px solid gray;
    width: 170px;
    background-color:#a4dde0;
}


.second-part {
    border: 2px solid yellow;
    height: 170px;
}
.third-part {
    border: 2px solid blue;
    height: 170px;
}




/* footer */

.foot-nav {
        background-color: #7faeb1;
        border-top: 3px solid #40595a;
        height: 150px;
}